@import '~bulma/bulma.sass';

$main: #F7B733;
$font-color: #4a4a4a;
$logo-font: 'Cinzel', serif;
$slogan: 'Dosis', sans-serif;
$article-font: BlinkMacSystemFont;
// #e1b382

html{
  background: #f0f4f8;
}
a{
  color: $main;
}

.home-container{
  background-image: url('./images/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.register-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  margin-top: -40px;
}

.radio{
  display: inline-block;
  
}

.register-forms-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #dbdbdb;
  padding: 20px;
  border-radius: 4px;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}

.register-forms-container:hover{
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.25);
}

.register-forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.category{
  flex-direction: row;
  justify-content: space-between;
}

.category label{
  margin-right: 20px;
}

.register-type{
  margin-left: 40px;
}

.register-forms-span{
  display: inline-block;
 margin: 30px 0 0 10px;
}

.register-section{
  margin-top: 10px;
  padding: 0 50px 0 50px;
}

.register-section.add-training .button{
  margin: 40px 0 0 40%;
  display: inline-block;
}

.register-section .input{
  width: 360px;
}

.field{
  margin-right: 40px;
}

.input-container{
  display: flex;
  justify-content: space-between;
}

.select,.is-multiple{
  margin-top: 5px;
}

.profile-choices-container{
  display: flex;
  justify-content: space-evenly;
 
}

.index{
  margin-bottom: 30px;
}

.profile-choices{
  width: 200px;
  height: 200px;
  // border: 2px solid black;
  padding: 20px;
  margin: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}

.small-profile-choices{
  width: 150px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #f0f4f8;
}

.small-profile-choices:hover{
  color: $main;
  border-bottom: 1px solid $main;
}

.card-header-title{
  display: inline-block;
}

.card{
  padding: 10px;
}

.done{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.done-booking{
  padding-bottom: 20px;
  width: 600px;
  border-bottom: 3px solid $main;
}

.selected-menu-choice{
  color: $main;
}

.add-portfolio{
  position: absolute;
  top: 0px;
  left: 48%;
  animation: heartbeat 4s infinite;
  z-index: 1000;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 0.9 );
  }
  50%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( 0.9 );
  }
  100%
  {
    transform: scale( 1 );
  }
}

.portfolio-container{
  padding: 0 140px;
}

.article-container{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0 40px;
}

.card-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  margin-bottom: 80px;
  color: $font-color;

}


.article-title{
  padding: 0 10px;
  font-family: $article-font;
  margin: 10px 0;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.article-text a {
  color: $font-color;
}

.article-author{
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 8px 0 0 57px;
}

.article-author a{
  color: $main;
}

.article-border{
  border-bottom: 2px solid $font-color;
  width: 90%;
  margin: 0 auto;
}

.image-article{
  width: 400px;
  height: 300px;
}

.subtitle-article{
  font-family: $article-font;
  padding: 10px 25px;
  overflow: hidden;
}

.article-text{
  width: 400px
}



// .profile-image{
//   width: 120px;
//   height: 120px;
// }

.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  border: 2px solid $main;
}

.profile-header{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  text-align: left;
}

.navbar-image{
  border-radius: 50%;
}

.navbar-item{
  width: 55px;
  height: 55px;
  margin-left: 10px;
}

.logout{
  position: fixed;
  bottom: 17px;
  right: 17px;
  cursor: pointer;
}

.logo{
  font-family: 'Cinzel', serif;
  font-size: 90px;

}

.logo-navbar{
  font-family: 'Cinzel', serif;
  font-size: 30px;
}

.navbar{
  border-bottom: 1px solid $main;
}

.greeting{
  color: $main;
}

.greeting-public{
  display: flex;
  flex-direction: column;

}

.greeting-public img{
  width: 40px;
  height: 40px;
}

.user-type{
  display: flex;
  align-items: center;
}

.sign-container{
  display: flex;
  justify-content: left;
  align-items: end;
  margin: 18% 0px 0 20px;
}

.sign-card{
  width: 400px;
}

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 20px;
}

.slogan{
  font-size: 33px;
  font-family: $slogan;
}

.logo-navbar-container{
  display: flex;
  justify-content: space-between;
}

.home-navbar{
  margin: 30px 60px 0 0;
}

.home-navbar-item{
  color: white;
  font-family: $slogan;
  font-size: 20px;
  display: inline-block;
  margin-left: 50px;
}

.register-title{
  color: $main;
}

.register-button{
  background: $main;
  color: white;
}

.profile-header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.public-profile-container{

}

.m-scene{
  padding-top: 20px;
}

.add-training{
  margin-top: 90px;
  border: 2px solid $main;
  padding: 40px;
}